*{
    padding: 0;
    margin: 0;
}

body{
    padding-left: calc(50% - 375px / 2);
    padding-right: calc(50% - 375px / 2);
    color: #FEFEFE;
    font-family: 'Bebas Neue', sans-serif;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}
.mainPage{  
   background-color: rgba(53, 79, 156, 1);
    padding: 92px 39px 137px 41px;
    
}

.mainPage__block{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainPage__picture{
    margin-bottom: 12px;
}

.mainPage__h1{
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 102.5%; 
    letter-spacing: 0.96px;
}

.mainPage__h2{
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 102.5%; 
    letter-spacing: 8.04px;
    margin-bottom: 12px;
}

.mainPage__p{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
    margin-bottom: 22px;
    max-width: 278px;
    text-align: justify;    
}

.mainPage__call{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
    margin-bottom: 22px;
    max-width: 278px;
}

.mainPage__tel{
    color: #FFF;
    font-size: 53px;
    font-style: normal;
    font-weight: 400;
    line-height: 102.5%; /* 54.325px */
    letter-spacing: -0.24px;    
    margin-bottom: 18px;
}

.mainPage__button{
    cursor: pointer;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 102.5%; /* 18.45px */
    letter-spacing: -0.24px;
    padding: 8px 24px;
    border: 1px solid #000;
    border-radius: 50px;
}

/* PODMENUE */

.podMenue{
    padding: 233px 21px 28px 21px;

}

.podMenue__h2{
    margin-bottom: 220px;
}

.podMenue__bottomBlock{
    display: flex;
    gap: 20px;
}

.podMenue__line{
    height: 36px;
    width: 2px;
    background-color: #FEFEFE;
    
}

